.copyright{
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 14px;
    color: #666;
}

.footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
}