.project{
    margin-top: 20px;
    text-align: left;
}

.project h3{ 
    font-weight: 400;
}

.projectinfo{
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    cursor: default; 
}

.projectinfo:hover{
    border-color: #ff9234;
}
.projectinfo:hover .projectinfo-title{
    color: #ff9234;
    /* text-decoration-line: underline;
    text-decoration-style: wavy; */
}
/* .projectinfo:hover .projectinfo-time{
    color: #ffb385;
} */
.projectinfo:hover .projectinfo-desc{
    color: #777;
}

.projectinfo-title{ 
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.17em;
    display: block;
    color: black;
}

.projectinfo-desc{
    margin-bottom: 10px; 
    margin-top: 0px; 
    color: #555;
}

.projectinfo-time{
    margin-top: 0px; 
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}

.projectinfo-img{
    width: 13%;
    margin-left: 2%;
    object-fit: contain;
    display: inline-block;
}

.projectinfo-words{
    width: 81%;
    margin-left: 2%;
    display: inline-block;
    vertical-align: top;
}

.projectinfo-authors{
    margin-bottom: 10px;
    font-size: 16px;  
}

.projectinfo-author{
    cursor: pointer;
    color: black; 
    /* text-decoration: underline; */
}

.itsMe{
    font-weight: bolder;
}

/* small devices */
@media only screen and (max-width: 767px) {
    .projectinfo-img{
        width: 80%;
        margin-left: 10%;
    }
    
    .projectinfo-words{
        width: 96%;
        margin-left: 2%;
    }
}