/*对 markdown 样式的补充*/
pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #abb2bf;
    background: #282c34;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 1em;
    /* margin-bottom: 1em; */
}
strong {
    font-weight: bold;
}

p > code:not([class]) {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
p img{
    /* 图片居中 */
    margin: 0 auto;
    display: flex;
}

#note-content {
    font-family: "Microsoft YaHei",  'sans-serif';
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}

#note-content .desc ul,#note-content .desc ol {
    color: #333333;
    margin: 1.5em 0 0 25px;
}

#note-content .desc h1, #note-content .desc h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

#note-content .desc a {
    color: #009a61;
}


.noteDetail{
    margin-top: 20px; 
    padding-left: 8px;
    padding-right: 8px; 
}
.article{
    border: 1px solid #eee;
    padding: 25px;
}
.article-title{
    margin-top: 30px; 
    margin-bottom: 10px; 
}

.article-time{
    margin-top: 0px; 
    font-size: 14px;
    color: #777;
}

.article-navbar{
    border: 1px solid #eee;
    position: fixed;
    width: 100%;
    text-align: left;
}

.article-navbar-title{
    margin-left: 0.6em;
    font-weight: 400; 
    font-size: 17px;
    color: rgb(234,169,68);
}

/* small devices */
@media only screen and (max-width: 991px) {
    .big-device{
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .small-device{
        display: none;
    }
}