/*对 markdown 样式的补充*/
pre {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    color: #abb2bf;
    background: #f7f7f734;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
    margin-left: -6px;
}

pre ol {
    list-style: none;
    margin-left: 30px;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
pre li {
    position: relative;
}

pre .line-num {
    position: absolute;
    top: 0;
    width: 25px;
    height: 100%;
    margin-left: -35px; 
    background-color: #eff2f3;
    text-align: right;
    padding-right: 10px;
    font-weight: 500;
}
    
/* pre b.name {
    position: absolute;
    top: 2px;
    right: 12px;
    z-index: 10;
    color: #999;
    pointer-events: none;
} */

#note-content h1,h2,h3,h4,h5,h6{
    margin-top: 1em;
}
#note-content strong {
    font-weight: 600;
}

#note-content p > code:not([class]) {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
#note-content img{
    margin: 0 auto;
    display: block;
    margin-left:10%;
    width:80%
}

#note-content {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
    color: #333;
}

#note-content .desc ul,#note-content .desc ol {
    color: #333333;
    margin: 1.5em 0 0 25px;
}

#note-content .desc h1, #note-content .desc h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

#note-content h2, #note-content h3{
    font-weight: 500;
}

#note-content .desc a {
    color: #009a61;
}


.noteDetail{
    margin-top: 20px; 
    padding-left: 8px;
    padding-right: 8px; 
}
.article{
    border: 1px solid #eee;
    padding: 25px;
}
.article-title{
    margin-top: 30px; 
    margin-bottom: 10px; 
}

.article-time{
    margin-top: 0px; 
    font-size: 14px;
    color: #777;
}

.article-navbar{
    border: 1px solid #eee;
    text-align: left;
    background: #fff;
}

.article-navbar-stick{
    position: fixed;
    top: 8px;
    width: 16.6%;
}

.article-navbar-title{
    margin-left: 1.4em;
    font-weight: 400; 
    font-size: 17px;
    color: #ff9234;
}

/* small devices */
@media only screen and (max-width: 991px) {
    .big-device{
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .small-device{
        display: none;
    }
}