.note{
    min-height: 75vh;
    margin-top: 20px; 
}

.noteinfo{
    border: 1px solid #eee;
    cursor: pointer;
    margin-bottom: 10px; 
}

.noteinfo:hover{
    border-color: #ff9234;
}
.noteinfo:hover .noteinfo-title{
    color: #ff9234;
    /* text-decoration-line: underline;
    text-decoration-style: wavy; */
}
.noteinfo:hover .noteinfo-time{
    color: #ffb385;
}
.noteinfo:hover .noteinfo-desc{
    color: #777;
}

.noteinfo-title{
    margin-top: 30px; 
    margin-bottom: 10px; 
    color: #555;
}

.noteinfo-time{
    margin-top: 0px; 
    font-size: 14px;
    color: #777;
}

.noteinfo-desc{
    margin-bottom: 30px; 
    margin-top: 30px;
    padding-left:10px;
    padding-right: 10px;
}