.pulication-info{
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    cursor: default; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pulication-info:hover{
    border-color: rgb(243, 191, 36);
}
.pulication-info:hover .pulication-info-title-link{
    color: rgb(243, 191, 36);
    /* text-decoration-line: underline;
    text-decoration-style: wavy; */
}

/* .pulication-info:hover .pulication-info-time{
    color: #ffb385;
} */
.pulication-info:hover .pulication-info-desc{
    color: #777;
}

.pulication-info-title{ 
    margin-bottom: 8px;
    /* cursor: pointer; */
    font-weight: 600;
    font-size: 1.1em;
    display: block;
    color: #333;
}

.pulication-info-desc{
    margin-bottom: 10px; 
    margin-top: 0px; 
    color: #555;
}

.pulication-info-time{
    margin-top: 0px; 
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}

.pulication-info-download{
    text-decoration: underline !important;
}

.pulication-info-img{
    width: 13%;
    margin-left: 2%;
    object-fit: contain;
    display: inline-block;
}

.pulication-info-words{
    width: 81%;
    margin-left: 2%;
    display: inline-block;
    vertical-align: top;
}

.pulication-info-authors{
    margin-bottom: 10px;
    font-size: 16px;  
    color: #555; 
}

.pulication-info-author a{
    cursor: pointer;
    /* text-decoration: underline; */
}

.itsMe{
    font-weight: bolder;
}

/* small devices */
@media only screen and (max-width: 767px) {
    .pulication-info-img{
        width: 80%;
        margin-left: 10%;
    }
    
    .pulication-info-words{
        width: 96%;
        margin-left: 2%;
    }
}